body {
    background-image: url(bg-tile.png);
    /* uma imagem de background será SEMPRE DECORATIVA,
    isto é, não será INFORMACIONAL,
    para imagens informacionais é necessário usar a marcação de IMG */

    /* posso aplicar background image em QUALQUER MARCAÇÃO */
    
    background-image: url(bg-marca.png);
    background-repeat: repeat-y;
    /* repetição: do eixo x é horizontal, do eixo y é vertical e o padrão é ambos */
    
    background-position: right; 
    /* posição da imagem de plano de fundo: left, right, center ou um valor*/
    margin: 0;
}

h1 {
    margin: 0; /* ESPAÇAMENTO EXTERNO */
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover; 
    /*background-size: cuidado porque aqui vc pode distorcer */
    text-align: center;
    padding: 5rem; /* ESPAÇAMENTO INTERNO */ 
}

h1 a{
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(32, 124, 136);
    color: white;

}


/* 
a:link
a:active
a:visited
*/